/* Background image for entire background */


/* Global styles */
body {
    margin: 0;
    padding: 10px;
    background-color: white;
    position: relative;
    background-image: url('../images/contactBackground.jpg');
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat; /* Prevent the image from repeating */
}

header {
    background-color: #251a10;
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 26px;
}

.title h1 {
    margin: 0;
    font-size: 48px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 150;
    text-align: center;
    display: inline-block;
    flex: 1;
}

.header h3 {
    margin: 0;
    font-size: 32px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 200;
    color: black;
    margin-bottom: 10px;
}

.title h2 {
    color: black;
    font-size: 26px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 200;
    text-align: center;
    margin-top: 0px;
    background-color: #fff;
    border-radius: 25px;
    padding: 9px 18px;
    margin-bottom: 8px;
}

/* Home button */
.btn1 {
    background-color: #251a10;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-box {
  text-align: right;
  flex: 4;
}

/* ADD CONTACT BUTTON */
.btn-open {
  background-color: white;
  color: black;
  padding: 2px 4px;
  text-decoration: none;
  border-style: double;
  border-color: #251a10;
  border-radius: 5px;
  cursor: pointer;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 200;
  font-size: 24px;
  display: inline-block;
}

.btnbtn {
  text-align: right;
  background-color: #251a10;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 200;
  font-size: 27px;
  margin-left: 350px;
}

.button-box:last-child {
  text-align: right;
}

.btnbtn:hover {
  background-color: #cf23cf;
  color: white; /* Hide text color on hover */
  border-color: transparent;
  transition: background-color 0.3s;
}

/* Custom styles for section container */
.section-container {
    display: flex;
    min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
}

/* Custom styles for left and right sections */
.left-section {
    flex: 1; /* 1/5 of the available space */
    background-color: transparent; /* Example background color */
    padding: 20px; /* Add padding for spacing */
}

.center-section {
  flex: 3.2;
  background-color: white;
  padding: 20px;
}

.right-section {
    flex: 0.8; /* 4/5 of the available space */
    background-color: transparent; /* Example background color */
    margin-top: 20px; /* Add padding for spacing */
}

.user-info {
  background-color: white;
  margin-top: 0px;
  color: black;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 200;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

  .search-label {
    /* Your styles here */
    font-weight: bold; /* Example: Make the label text bold */
    color: black; /* Example: Change the label text color */
    /* Add other styles as needed */
    font-size: 16px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }

  .search-box {
    width: 775px; /* Set the width of the input field */
    padding: 10px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 25px; /* Add rounded corners */
    font-size: 16px; /* Set the font size */
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* USER CONTACT FORMATTING */

  /* Style the table */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style table headers */
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Style table data rows */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    
  }
  
  /* Style the action buttons */
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  /* Style the action buttons on hover */
  button:hover {
    transition: background-color 0.3s;
    background-color: #0056b3;
  }

  .view-all {
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* You can add more specific styles or adjust these as needed */
  
  /* Delete modal styles */
.delete-modal {
  display: none;
  /* Add styling for the modal */
}