
/* Global styles */
body {
    position: relative;
    background-image: url('../images/backgroundCoff.jpg');
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    margin: 0;
    padding: 10px;
    background-color: white;
    color: green;    
}

header {
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 52px;
}

label {
  font-size: 18px;
}


/* Form container */
.form {
    width: 375px;
    height: 250px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 40px;
}

/* Button container */
.button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 50%;
}

/* Login / Register Buttons */
.btn {
    /* Your CSS styles for the button go here */
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 150;
    margin-bottom: 10px;
    font-size: 20px;
}

.btn:hover {
  background-color: #42953e;
}

/* Home Button */
.btn1 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 16px;
    font-size: 28px;
    position: absolute;
    top: 10px;
    left: 30px;
  }
  
  
  .btn1:hover {
    background-color: #42953e;
  }

  /* Sign on button */
  .btn2 {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 150;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 20px;
  }
  
  .btn2:hover {
    background-color: #42953e;
  }
  
  .input-box {
      display: flex;
      align-items: center;
      margin-top: 30px;
  }
  
  .input-box label {
      width: 100px; /* Adjust the width as needed */
      text-align: left; /* Align label text to the left */
      margin-right: -10px; /* Add some spacing between label and input */
      font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
      font-weight: 100;
      color: black;
  }
  
  .input-box input {
      flex: 1; /* Allow the input to expand and fill the remaining space */
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  .error-text {
    color: red;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  
