/* Background image for entire background */
body
{
  position: relative;
  background-image: url('../images/contactBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
header {
    background-color: #251a10;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.title h1 {
    margin: 0;
    font-size: 42px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 100;
}

.user-options a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: 150;
}

/* styles.css */
.btn {
    /* Your CSS styles for the button go here */
    background-color: black;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 150;
}

.btn:hover {
  background-color: #42953e;
}

.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-message {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 700;
  font-size: 10rem;
  display: flex;
  
  background: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
